{<<"app">>,<<"erldb">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Erlang ORM">>}.
{<<"files">>,
 [<<"README.md">>,<<"include/erldb.hrl">>,<<"include/erldb_types.hrl">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/erldb.app.src">>,
  <<"src/erldb.erl">>,<<"src/erldb_app.erl">>,<<"src/erldb_compiler.erl">>,
  <<"src/erldb_ets.erl">>,<<"src/erldb_init.erl">>,<<"src/erldb_lib.erl">>,
  <<"src/erldb_mnesia.erl">>,<<"src/erldb_mysql.erl">>,
  <<"src/erldb_sup.erl">>,<<"src/inflector.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[]}.
{<<"name">>,<<"erldb">>}.
{<<"requirements">>,
 [{<<"dh_date">>,
   [{<<"app">>,<<"dh_date">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.0.0">>}]},
  {<<"mysql">>,
   [{<<"app">>,<<"mysql">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.6.0">>}]},
  {<<"pmod_transform">>,
   [{<<"app">>,<<"pmod_transform">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.1.0">>}]},
  {<<"poolboy">>,
   [{<<"app">>,<<"poolboy">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.5.2">>}]}]}.
{<<"version">>,<<"1.0.0">>}.
